<div id="header" class="head-wrap">
    <div class="head">
        <h1><a href="#" class="logo"></a></h1>
        <ul class="head-nav">
            <li class="cur"><a href="#" class="head-nav-tab">热门收藏</a></li>
            <li><a href="#" class="head-nav-tab">我的收藏</a></li>
        </ul>
        <div class="user-thumb-box">
            <div class="img-bg img-avatar user-thumb" style="background-image: url(../img/user-big.png);"></div>
            <div class="btn-exit"><i></i><a href="#" class="sogou_logout">退出</a></div>
        </div>
        <a href="#" class="btn-add-collect">添加收藏</a>
    </div>
</div>