@charset "UTF-8";

/* 头部 */
.head-wrap {
    position: fixed;
    z-index: 12;
    top: 0;
    width: 100%;
    background-color: #434a61;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.head {
    position: relative;
    width: 1000px;
    height: 60px;
    margin: 0 auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-size: 16px;
    a {
        color: #fff;
    }
}

.logo {
    float: left;
    margin-top: 10px;
    background: url(../img/logo.png) 0 0 no-repeat;
    //background-image: -webkit-image-set(url(../img/logo.png) 1x, url(../img/logo@2x.png) 2x);
    width: 136px;
    height: 40px;
}

.head-nav {
    position: absolute;
    height: 40px;
    top: 0;
    left: 153px;
    margin-top: 20px;
    margin-left: 40px;

    li {
        display: table;
        float: left;
        height: 100%;
        padding: 0 23px;
        text-align: center;
    }

    @at-root .head-nav-tab {
        position: relative;
        display: table-cell;
        height: 100%;
        vertical-align: top;

        &:before {
            position: absolute;
            display: none;
            bottom: 0;
            width: 35px;
            height: 4px;
            content: '';
            background-color: #3eb97b;
        }

        &:hover {
            color: #3eb97b;
        }

        .cur & {
            &:before {
                display: block;
            }
        }
    }
}

.btn-add-collect {
    position: absolute;
    top: 13px;
    right: 0;
    transition: top 0.4s;
    border-radius: 2px;

    @include btn-clr(102px, 34px);

    &:hover {
        color: #fff;
        &:after {
            border-radius: 2px;
        }
    }

    .tit-fixed & {
        top: 73px;
    }
}

.user-thumb-box {
    position: absolute;
    right: 136px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 11;
    top: 10px;
    transition: all 0.2s ease-out;

    .user-thumb {
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    &:hover {
        .btn-exit {
            display: block;
        }
    }
}

.btn-exit {
    position: absolute;
    display: none;
    top: 43px;
    left: 50%;
    width: 92px;
    height: 43px;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    color: #000;

    i {
        width: 0;
        height: 0;
        top: 40px;
        border-color: #fff transparent transparent transparent;
    }
}
