@import 'lib';

.det-article {
	width: 100%;
    overflow: hidden;
	box-sizing: border-box;
	padding: 36px 34px 55px;
	background-color: #fff;
	h2 {
		color: #333;
		font-size: 24px;
		font-weight: bold;
		line-height: 38px;
		margin-bottom: 28px;
	}
	.det-pub {
		height: 40px;
	}
}

.det-pub-cont {
	float: left;
	display: flex;
	line-height: 40px;
	.pub-img {
		float: left;
		height: 40px;
		width: 40px;
		border-radius: 100%;
	}
	.pub-name {
		float: left;
		font-size: 14px;
		color: #666;
		line-height: 40px;
		margin-left: 10px;
		max-width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	span {
		font-size: 14px;
		color: #aaa;
	}
	i {
		width: 1px;
		height: 10px;
		border-right: 1px solid #d7d7d7;
		margin: 15px 8px;
	}
}

.det-pub-more {
	float: right;
	line-height: 40px;
	color: #aaa;
	a {
		color: #666;
	}
	i {
		display: inline-block;
		width: 1px;
		height: 10px;
		border-right: 1px solid #d7d7d7;
		margin: 15px 8px 0;
	}
}

.det-art-cont {
	margin-top: 38px;
	line-height: 35px;
	p {
		font-size: 17px;
		color: #4c4c4c;
		margin-top: 27px;
	}
	.det-art-img {
		margin: 14px 0 -10px;
		max-width: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.det-art-collect {
	position: relative;
	box-sizing: border-box;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 32px;
	width: 120px;
	height: 42px;
	line-height: 42px;
	color: #666;
	font-size: 16px;
	border-radius: 2px;
	background-color: #f7f7f7;
	cursor: pointer;
	padding-left: 57px;
	&:before {
		content: '';
		position: absolute;
		left: 30px;
		top: 50%;
		transform: translateY(-50%);
		@include sprite-item('detail/star-normal');
	}
	&:hover {
        color: #333333;
		&:before {
			@include sprite-item('detail/star-highlight');
		}
	}
}

.det-delete {
    float: right;
    position: relative;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    color: #78809f;
    margin-top: 30px;
    cursor: pointer;
    &:before {
        position: absolute;
        content: '';
        left: -20px;
        top: 4px;
        @include sprite-item('common/delete-normal');
    }
    &:hover {
        color: #6979b6;
        &:before {
            @include sprite-item('common/delete-hover');
        }
    }
}

.det-recom {
	margin-top: 20px;
	width: 100%;
	box-sizing: border-box;
	padding: 30px 34px 0;
	background-color: #fff;
	h2 {
		line-height: 24px;
		font-size: 17px;
		color: #333;
		font-weight: bold;
	}
	li:last-child {
		.recom-item {
			border-bottom: none;
		}
	}
}

.recom-item {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 24px 0;
	border-bottom: 1px solid #f0f0f0;
	.item-cont {
		position: relative;
        flex: 1;
		height: 100px;
        margin-right: 20px;
		box-sizing: border-box;
		padding-top: 6px;
		p {
            line-height: 24px;
			color: #333;
			@include line-clip(2);
		}
		.item-cont-amount {
			position: absolute;
			left: 0;
			bottom: 0;
			color: #999;
			font-size: 12px;
		}
	}
	.item-img {
		width: 150px;
		height: 100px;
		background-color: red;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

.item-video {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.25);
	}
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		@include sprite-item('detail/btn-play-big');
	}
}

//.det-about {
//	position: relative;
//	background-color: #fff;
//	box-sizing: border-box;
//	height: 177px;
//	padding: 24px 70px 0 22px;
//	color: #333;
//	font-weight: bold;
//	&:before {
//		content: '';
//		position: absolute;
//		top: 0;
//		right: 0;
//		height: 100%;
//		@include sprite-item('detail/side_bg');
//	}
//	h2 {
//		font-size: 18px;
//		font-weight: bold;
//		color: #333;
//		line-height: 24px;
//	}
//	.det-about-cont {
//		font-size: 14px;
//		line-height: 22px;
//		margin-top: 12px;
//		font-weight: 500;
//	}
//}